footer.section.section_orange.section_footer
	.section_wrapper.section_flex
		.footer__left.footer__item
			p ИП Александр Александр Александрович
			p ОГРН/ОГРНИП 4356243446665
			p ИНН 9102004057
		.footer__right.footer__item
			a(href='tel:+79780000000') Тел. +7 978 000 00 00
			p Время работы
			p ПН-СБ: 8:00 - 19:00
			p Выходной - воскресение