section.section.section_image.section_forstom(style="background-image: url(img/bg1.jpg)")
	.section_wrapper.section_small
		.forstom__top
			.formstom__slider.owl-carousel.owl-theme
				.item
					img(src='img/personal1.jpg' alt='123')
				.item
					img(src='img/personal1.jpg' alt='123')
				.item
					img(src='img/personal1.jpg' alt='123')
				.item
					img(src='img/personal1.jpg' alt='123')
	.title
		h2.title.title_up.title_forstom
			span.title_orange.title_top О стоматологии
			span.title_green.title_bottom за 1.5 минуты
	.section_wrapper
		.forstom__bottom.section_flex
			.forstom__left
				<iframe src="https://www.youtube.com/embed/G5lwHTWAEoU" allowfullscreen></iframe>
			.forstom__right
				.forstom__wrap
					h4.forstom__title О нас
					.forstom__text.scroll
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.



