section.section.section_image.section_forstom(style="background-image: url(img/bg1.jpg)")
	.section_wrapper.section_small
		.forstom__top
			.formstom__slider.owl-carousel.owl-theme
				.item
					a(href="img/head_bg.jpg" class="popup")
						img(src='img/head_bg.jpg' alt='123')
				.item
					a(href="img/head_bg.jpg" class="popup")
						img(src='img/head_bg.jpg' alt='123')
				.item
					a(href="img/head_bg.jpg" class="popup")
						img(src='img/head_bg.jpg' alt='123')
				.item
					a(href="img/head_bg.jpg" class="popup")
						img(src='img/head_bg.jpg' alt='123')
	include forstombottom 		



