header.head
	.head__video(style="background-image: url(img/head_bg.jpg)")
		video(autoplay loop muted)
			source(src="video/videohead.mp4" type="video/mp4")
	.head__topline
		.head__logo
			a(href="/")
				img(src="img/logo.png" alt="123")
		.head__phone
			.phone__top
				a(href="tel:+79781111111")
					span.white +7 978
					span.green 000 00 00
			.phone__center Пн-сб: 8:00 - 19:00
			.phone__bottom 
				.buttons.modal-open Записаться 
	.head__title
		strong Стоматология апекс
		h1 Лечение зубов может<br/> быть приятным
		h2 Лечение зубов и лечение десен, изготовление зубных <bt/>протезов и коронок, установка имплантов
			span.green в Севастополe			