section.section.section_grey.section_infograf
	h2.title.title_up.title_reviews
		span.title_orange.title_top Клиника
		span.title_green.title_bottom работает с 2008 года
	.section_wrapper.section_flex.section_items