section.section.section_grey.section_infograf
	h2.title.title_up.title_reviews
		span.title_orange.title_top Клиника
		span.title_green.title_bottom работает с 2008 года
	.section_wrapper.info__wrapper

		.info__item.info__item_left.info__item_top
			.info__text.info__text_right Квалифицированных<br/>стоматологов
			.info__imgwrap
				.info__img.info__img_light
					img(src="img/info1.jpg")
					.info__number.info__number_white.info__number_big 10

		.info__item.info__item_right.info__item_top
			.info__imgwrap
				.info__img.info__img_dark
					img(src="img/info1.jpg")
					.info__number.info__number_light.info__number_big 1000
			.info__text.info__text_left Установленных<br/>имплантов

		.info__item.info__item_left.info__item_center
			.info__text.info__text_right Довольных<br/>клиентов
			.info__imgwrap
				.info__img.info__img_dark
					img(src="img/info1.jpg")
					.info__number.info__number_light.info__number_small 15000
			

		.info__item.info__item_right.info__item_center
			.info__imgwrap
				.info__img.info__img_light
					img(src="img/info1.jpg")
					.info__number.info__number_dark.info__number_big 8000
			.info__text.info__text_left Установленных<br/>коронок		

		.info__item.info__item_left.info__item_bottom
			.info__text.info__text_right Конференций и курсов<br/>посетили наши<br/> доктора 	
			.info__imgwrap
				.info__img.info__img_light
					img(src="img/info1.jpg")
					.info__number.info__number_dark.info__number_big 238
			

		.info__item.info__item_right.info__item_bottom
			.info__imgwrap
				.info__img.info__img_dark
					img(src="img/info1.jpg")
					.info__number.info__number_light.info__number_big 112
			.info__text.info__text_left Суммарный опыт<br/>наших доеторов		
	

		