section.section.section_map.section_grey
	.title
		h2.title.title_up.title_map
			span.title_orange.title_top Как
			span.title_green.title_bottom Нас найти?
	.section_clearfix.section_full.section_table
		.map__left
			<iframe src="https://api-maps.yandex.ru/frame/v1/-/C6SgB6lW"></iframe>
		.map__right
			h3.map__title Желаете получить консультацию?
			form(class='form')
				.form__item
					input(type='text' name='name' placeholder='Имя' class='input_name')
				.form__item
					input(type='tel' name='phone' placeholder='Телефон' class='input_phone')
				.form__item
					input(type='text' name='time' placeholder='Желаемое время звонка' class='input_time')
				.form__item
					button.button.map__button(type='submit') Отправить