.modal-form
	.modal-form__wrapper
		h3.map__title Записаться <br/>на прием
		form(class='form')
			.form__item
				input(type='text' name='name' placeholder='Имя' class='input_name')
			.form__item
				input(type='tel' name='phone' placeholder='Телефон' class='input_phone')
			.form__item
				input(type='text' name='time' placeholder='Желаемые дата и время' class='input_time')
			.form__item
				button.buttons.map__button(type='submit') Отправить