section.section.section_map.section_grey.section_personal
	.title
		h2.title.title_up.title_reviews.title_map
			span.title_orange.title_top Наши
			span.title_green.title_bottom Врачи
	.section_wrapper.section_personal
		.personal__sliderwrap
			.personal__slider.owl-theme.owl-carousel
				.item.personal_button(data-item='0')
					img(src="img/clinik1_small.jpg" alt="123")
				.item(data-item='1')
					img(src="img/clinik1_small.jpg" alt="123")
				.item(data-item='2')
					img(src="img/clinik1_small.jpg" alt="123")
				.item(data-item="3")
					img(src="img/clinik1_small.jpg" alt="123")
				.item(data-item='2')
					img(src="img/clinik1_small.jpg" alt="123")
				.item(data-item="3")
					img(src="img/clinik1_small.jpg" alt="123")
				.item(data-item='2')
					img(src="img/clinik1_small.jpg" alt="123")
				.item(data-item="3")
					img(src="img/clinik1_small.jpg" alt="123")		
		.personal
			.personal__img.active
				a(href="img/clinik1.jpg" class="popup")
					img(src='img/clinik1.jpg' alt='123')
			.personal__img
				a(href="img/clinik1.jpg" class="popup")
					img(src='img/clinik1.jpg' alt='123')
			.personal__img
				a(href="img/clinik1.jpg" class="popup")
					img(src='img/clinik1.jpg' alt='123')
			.personal__img
				a(href="img/clinik1.jpg" class="popup")
					img(src='img/clinik1.jpg' alt='123')
			.personal__textwrap		
				.personal__textitem.active
					.personal__title Стоматолог-ортодонт1 <br/>Скрыпник Константин Александрович
					.personal__text
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				.personal__textitem
					.personal__title Стоматолог-ортодонт2 <br/>Скрыпник Константин Александрович
					.personal__text
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				.personal__textitem
					.personal__title Стоматолог-ортодонт3 <br/>Скрыпник Константин Александрович
					.personal__text
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.		
				.personal__textitem
					.personal__title Стоматолог-ортодонт4 <br/>Скрыпник Константин Александрович
					.personal__text
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.		
