section.section.section_image.section_reviews(style='background-image: url(img/bg2.jpg)')
	.title
		h2.title.title_up.title_reviews
			span.title_orange.title_top Отзывы
			span.title_green.title_bottom О нашей стоматологии

	.section_wrapper
		.reviews
			.reviews__wrapper
				.reviews__item
					h5.reviews__title vk.com
				.reviews__item
					h5.reviews__title Всероссийский портал Стоматология.su