section.section.section_grey.section_uslugi
	h2.title.title_up.title_reviews
		span.title_orange.title_top Мы
		span.title_green.title_bottom Предлагаем
	.section_wrapper.section_flex.section_items
		.uslugi
			a(href='#').uslugi__link
				.uslugi__img
					img(src='img/work1.jpg' alt="123")
				.uslugi__text Лечением<br/> Кариеса <br/> В Севастополе
		.uslugi
			a(href='#').uslugi__link
				.uslugi__img
					img(src='img/work1.jpg' alt="123")
				.uslugi__text Лечением<br/> Кариеса <br/> В Севастополе
		.uslugi
			a(href='#').uslugi__link
				.uslugi__img
					img(src='img/work1.jpg' alt="123")
				.uslugi__text Лечением<br/> Кариеса <br/> В Севастополе
		.uslugi
			a(href='#').uslugi__link
				.uslugi__img
					img(src='img/work1.jpg' alt="123")
				.uslugi__text Лечением<br/> Кариеса <br/> В Севастополе
		.uslugi
			a(href='#').uslugi__link
				.uslugi__img
					img(src='img/work1.jpg' alt="123")
				.uslugi__text Лечением<br/> Кариеса <br/> В Севастополе
		.uslugi
			a(href='#').uslugi__link
				.uslugi__img
					img(src='img/work1.jpg' alt="123")
				.uslugi__text Лечением<br/> Кариеса <br/> В Севастополе
		.uslugi
			a(href='#').uslugi__link
				.uslugi__img
					img(src='img/work1.jpg' alt="123")
				.uslugi__text Лечением<br/> Кариеса <br/> В Севастополе
		.uslugi
			a(href='#').uslugi__link
				.uslugi__img
					img(src='img/work1.jpg' alt="123")
				.uslugi__text Лечением<br/> Кариеса <br/> В Севастополе