section.section.section_grey.section_uslugi
	h2.title.title_up.title_reviews
		span.title_orange.title_top Мы
		span.title_green.title_bottom Предлагаем
	.section_wrapper.section_flex.section_items
		.uslugi
			.uslugi__link
				.ih-item.circle.effect1
					a(href='#')
						.spinner
						.img
							img(src='img/work1.jpg' alt="123")
						.info		
							.info-back
				.uslugi__text Лечение<br/>Кариеса <br/>В Севастополе
		.uslugi
			.uslugi__link
				.ih-item.circle.effect1
					a(href='#')
						.spinner
						.img
							img(src='img/work1.jpg' alt="123")
						.info		
							.info-back
				.uslugi__text Лечение<br/>Кариеса<br/>В Севастополе
		.uslugi
			.uslugi__link
				.ih-item.circle.effect1
					a(href='#')
						.spinner
						.img
							img(src='img/work1.jpg' alt="123")
						.info		
							.info-back
				.uslugi__text Лечение<br/>Кариеса<br/>В Севастополе
		.uslugi
			.uslugi__link
				.ih-item.circle.effect1
					a(href='#')
						.spinner
						.img
							img(src='img/work1.jpg' alt="123")
						.info		
							.info-back
				.uslugi__text Лечение<br/>Кариеса<br/>В Севастополе
		.uslugi
			.uslugi__link
				.ih-item.circle.effect1
					a(href='#')
						.spinner
						.img
							img(src='img/work1.jpg' alt="123")
						.info		
							.info-back
				.uslugi__text Лечение<br/>Кариеса<br/>В Севастополе
		.uslugi
			.uslugi__link
				.ih-item.circle.effect1
					a(href='#')
						.spinner
						.img
							img(src='img/work1.jpg' alt="123")
						.info		
							.info-back
				.uslugi__text Лечение<br/>Кариеса<br/>В Севастополе	
		.uslugi
			.uslugi__link
				.ih-item.circle.effect1
					a(href='#')
						.spinner
						.img
							img(src='img/work1.jpg' alt="123")
						.info		
							.info-back
				.uslugi__text Лечение<br/>Кариеса<br/>В Севастополе								
		.uslugi
			.uslugi__link
				.ih-item.circle.effect1
					a(href='#')
						.spinner
						.img
							img(src='img/work1.jpg' alt="123")
						.info		
							.info-back
				.uslugi__text Лечение<br/>Кариеса<br/>В Севастополе												
	.buttons.modal-open Записаться 