.usluga.section_wrapper
	.usluga__wrapper
		.usluga__left
			.usluga__img
				img(src="img/work1.jpg" alt="123")
		.usluga__right
			h4.usluga__title Лечение кариеса
			.usluga__text.scroll
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus incidunt, nisi numquam ad, cumque mollitia illo! Eius animi voluptates corporis sequi in quod ipsam! Explicabo perspiciatis quod similique, aut ipsa!
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus incidunt, nisi numquam ad, cumque mollitia illo! Eius animi voluptates corporis sequi in quod ipsam! Explicabo perspiciatis quod similique, aut ipsa!
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus incidunt, nisi numquam ad, cumque mollitia illo! Eius animi voluptates corporis sequi in quod ipsam! Explicabo perspiciatis quod similique, aut ipsa!
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus incidunt, nisi numquam ad, cumque mollitia illo! Eius animi voluptates corporis sequi in quod ipsam! Explicabo perspiciatis quod similique, aut ipsa!
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus incidunt, nisi numquam ad, cumque mollitia illo! Eius animi voluptates corporis sequi in quod ipsam! Explicabo perspiciatis quod similique, aut ipsa!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus incidunt, nisi numquam ad, cumque mollitia illo! Eius animi voluptates corporis sequi in quod ipsam! Explicabo perspiciatis quod similique, aut ipsa!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus incidunt, nisi numquam ad, cumque mollitia illo! Eius animi voluptates corporis sequi in quod ipsam! Explicabo perspiciatis quod similique, aut ipsa!