- var scripts = ['https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js','https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js','https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js','https://cdnjs.cloudflare.com/ajax/libs/jScrollPane/2.0.23/script/jquery.jscrollpane.min.js','js/main.js']
	each script in scripts
		script(type="text/javascript" src=script)
