.form
	&__item
		width: 362px
		margin: 0 auto
		margin-top: 25px
		input
			width: 100%
			padding-left: 30px
			height: 52px
			line-height: 50px
			background-color: rgba(112, 192, 112, 0.2)
			border-radius: 25px
			border: none
			font-family: ProximaNovaCond, sans-serif
			font-weight: 300
			font-size: 1.5em
			color: #285500
			border: 1px solid transparent
			transition: all .25s
			&::placeholder
				color: lighten(#285500, 2%)
			&:hover
				background-color: rgba(112, 192, 112, 0.3)
			&:focus
				border-color: rgba(112, 192, 112, 0.6)
			
			