.title
	font-family: ProximaNovaCond, sans-serif
	font-weight: 700
	text-align: center
	letter-spacing: 7px
	span
		display: block
	&_up
		text-transform: uppercase
	
		
	&_orange
		color: rgba(#f6a331, .4)
	&_green
		color: rgba(#00a601, .7)
		
	
	&_map
		margin-bottom: 50px
		line-height: .5
		.title_orange
			font-size: 8.441em
		.title_green
			font-size: 5.607em
	&_reviews
		line-height: .5
		position: relative
		z-index: 2
		margin-bottom: 50px
		.title_orange
			font-size: 7.702em
			color: rgba(#f6a331, .5)
		.title_green
			font-size: 4.6em
			
	&_forstom
		line-height: .5
		position: relative
		z-index: 2
		margin-bottom: 70px
		.title_orange
			font-size: 5em
		.title_green
			font-size: 2.464em