.footer
	&__left
	&__right
		text-align: right
	&__item
		p, a
			color: #fff
			text-decoration: none
			font-family: ProximaNovaCond, sans-serif
			font-weight: 400
			font-size: 1.3em
			