.forstom
	&__top
		margin-bottom: 70px
	&__left
		width: 63%
		iframe
			width: 100%
			min-height: 400px
	&__right
		width: 32%
		
	&__wrap
		background-color: rgba(0, 166, 1, 0.2)
		border-radius: 10px
		padding: 10px
		height: 400px
		overflow: hidden
		
		
	&__title
		font-family: Gilroy, sans-serif
		color: #275500
		font-size: 1.875em
		text-align: center
		font-weight: 700
	&__text
		height: 350px
		font-family: Gilroy, sans-serif
		color: #285500
		font-size: 1.313em
		font-weight: 400
		line-height: 1.286
		
	
	