.uslugi
	width: 25%
	text-align: center
	margin-bottom: 50px
	.ih-item.circle.effect1 a:hover .spinner
		transform: rotate(360deg)
	.ih-item.circle, .ih-item.circle .img
		height: 350px
		width: 350px
		margin: 0 auto
	.ih-item.circle.effect1 .spinner
		height: 370px
		width: 370px
		border-width: 15px
		border-color: #a4d6a4 #a4d6a4 #a4d6a4 transparent
	.ih-item.circle.effect1 .info	
		width: 350px
		height: 350px
	&__link
		text-decoration: none
		text-align: center

	&__text
		font-family: ProximaNovaCond, sans-serif
		color: #285500
		font-size: 1.8em
		font-weight: 700
		line-height: 1.125
		text-decoration: none
		text-transform: uppercase
		padding-top: 40px
		display: inline-block

.section_uslugi
	.buttons
		width: 350px
		height: 80px
		line-height: 80px
		font-size: 1.6em
		background-color: rgba(255, 140, 0, 0.6)
@media screen and (max-width: 1800px)
	.uslugi
		.ih-item.circle, .ih-item.circle .img
			width: 250px
			height: 250px
		.ih-item.circle.effect1 .spinner
			width: 270px
			height: 270px	
		.ih-item.circle.effect1 .info	
			width: 250px
			height: 250px	

@media screen and (max-width: 1400px)
	.uslugi
		.ih-item.circle, .ih-item.circle .img
			width: 250px
			height: 250px
		.ih-item.circle.effect1 .spinner
			width: 270px
			height: 270px	
		.ih-item.circle.effect1 .info	
			width: 250px
			height: 250px	
@media screen and (max-width: 1280px)
	.uslugi
		.ih-item.circle, .ih-item.circle .img
			width: 200px
			height: 200px
		.ih-item.circle.effect1 .spinner
			width: 220px
			height: 220px
		.ih-item.circle.effect1 .info	
			height: 200px
			width: 200px	
	.uslugi__text
		font-size: 1.6em		
@media screen and (max-width: 1200px)
	.section_uslugi .section_wrapper
		padding-top: 0	
@media screen and (max-width: 1050px)		
	.uslugi
		.ih-item.circle, .ih-item.circle .img
			width: 150px
			height: 150px
		.ih-item.circle.effect1 .spinner
			width: 170px
			height: 170px
		.ih-item.circle.effect1 .info	
			height: 150px
			width: 150px	
	.uslugi__text
		font-size: 1.4em		
@media screen and (max-width: 992px)
	.uslugi
		width: 50%
	.uslugi__text
		vertical-align: top
		padding-top: 50px	
@media screen and (max-width: 900px)	
	.uslugi__text
		display: block
		padding-top: 40px	
	.uslugi	
		.ih-item.circle, .ih-item.circle .img
			width: 250px
			height: 250px
		.ih-item.circle.effect1 .spinner
			width: 270px
			height: 270px	
		.ih-item.circle.effect1 .info	
			width: 250px
			height: 250px	
@media screen and (max-width: 600px)	
	.section_uslugi
		.section_flex
			display: block
	.uslugi__text
		font-size: 1.4em			
	.uslugi
		width: 100%
		margin-bottom: 20px
@media screen and (max-width: 480px)	
	.uslugi
		.ih-item.circle, .ih-item.circle .img
			width: 200px
			height: 200px
		.ih-item.circle.effect1 .spinner
			width: 220px
			height: 220px
		.ih-item.circle.effect1 .info	
			height: 200px
			width: 200px	
	.section_uslugi .section_wrapper
		padding-top: 10px
	.section_uslugi .buttons
		width: 300px
		height: 60px
		line-height: 60px	