extends template
block title
	title Главная
block content
	include section/sleep.html
	include section/head
	include section/forstomatology
	include section/personal
	include section/uslugiы
	include section/infografы
	include section/reviews
	include section/map
	include section/footer
	include section/modal
	<a href="#" id="sv_on" class="btn btn-default"><strong>Версия для слабовидящих</strong></a>