extends template
block title
	title Главная
block content
	include section/head
	include section/forstomatology
	include section/personal
	include section/uslugi
	include section/infograf
	include section/reviews
	include section/map
	include section/footer
	include section/modal